@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SFUIDisplay;
	font-display: swap;
	src: url("../fonts/SFUIDisplay-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SFUIDisplay;
	font-display: swap;
	src: url("../fonts/SFUIDisplay-Heavy.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
