//====================================================================================================
.footer {
	@include adaptiveValue("padding-top", 55, 50);
	@include adaptiveValue("padding-bottom", 200, 100);
	&__container {
	}

	&__body {
		margin-bottom: toRem(45);
		@media (max-width: $mobile) {
			flex-direction: column;
			gap: toRem(15);
		}
	}

	&__title {
		flex: 0 1 33.333%;
		font-size: toRem(21);
		font-weight: 900;
		text-align: center;

		a {
			span {
				transition: color 0.3s;
			}
		}
		a:hover {
			span {
				color: #6356fd;
			}
		}
		@media (max-width: $mobile) {
			flex: 1 1 auto;
		}
		@media (max-width: $mobileSmall) {
			text-align: right;
		}
	}

	&__phone {
		flex: 0 1 33.333%;
		text-align: center;

		@include adaptiveValue("font-size", 19, 14);
		@media (max-width: $mobile) {
			text-align: right;
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(20);
			flex: 0;
		}
		a {
			transition: color 0.3s;
		}
		a:hover {
			color: #6356fd;
		}
	}

	&__link {
	}
	&__bottom {
		text-align: center;
		@include adaptiveValue("font-size", 16, 14);
	}

	&__copy {
		margin-bottom: toRem(30);
	}

	&__address {
		margin-bottom: toRem(30);
	}

	&__links {
		display: flex;
		flex-direction: column;
		gap: toRem(30);
	}

	&__btn {
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.footer-menu {
	font-size: toRem(13);
	@media (max-width: $mobile) {
		font-size: toRem(16);
	}
	&__body {
		@media (max-width: $mobile) {
			flex-direction: column;
			color: #fff;
			gap: toRem(20);
		}
	}

	&__list {
		display: flex;
		white-space: nowrap;
		gap: toRem(15);
		@media (max-width: $mobile) {
			flex-direction: column;
			text-align: center;
		}
	}

	&__item {
	}

	&__link {
		padding: toRem(5) 0;
		transition: color 0.3s;
		&:hover {
			color: #6356fd;
		}
	}
}
.footer {
}
